{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" sizes="96x96" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Code+Pro:wght@400;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

  <title>ISABOT</title>
</head>

<body>
  <header>
    <div class="overlay"></div>
    <video autoplay loop muted id="video">
      <source src="{% static 'img/isabot.mp4' %}" type="video/mp4">
    </video>
    <div class="container-fluid h-100">
      <h1 class="mt-5 d-none d-md-block">ISABOT</h1>
      <h2 class="mt-3 d-none d-md-block">investing in a post-labour future</h2>
      <div class="row mt-5 justify-content-end">
        <div class="col-xs-12 col-md-6 col-xl-4">
          <div class="chat-container">
            <div id="chat" class="chat">
            </div>
            <form id="chatForm" class="mt-2" autocomplete="off">
              <div class="input-container input-group">
                <label for="user-input"></label><input id="user-input" class="form-control" type="text"
                  placeholder="Talk to your consultant ..." />
                <div class="input-group-append">
                  <button id="submit-btn" class="btn btn-primary">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <h1 class="mt-5 d-block d-md-none">ISABOT</h1>
      <h2 class="mt-3 d-block d-md-none">investing in a post-labour future</h2>
    </div>
  </header>
  <script src="{% static 'cookiejs/js.cookie.min.js' %}"></script>
  <script src="{% static 'js/chatbot.js' %}"></script>

  {% csrf_token %}
  <script>
    var getConversationUrl = '{% url "get_conversation" %}';
    console.log(getConversationUrl)
    var postMessageUrl = '{% url "post_message" %}';
    console.log(postMessageUrl)
    var csrftoken = Cookies.get('csrftoken');
    console.log("CSRF", csrftoken)
    var sessionId = Cookies.get('sessionid') ? Cookies.get('sessionid') : "";
    console.log("SESSION", sessionId)
  </script>
</body>

</html>