{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
        <title>Investi Bot</title>
    </head>
    <body>
        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
                <h1 class="display-5 mt-5">Investi Bot <small class="text-muted">What to invest to get rid off your job</small></h1>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6">
                        <div class="terminal">
                            <p>$ </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="chat" class="chat"></div>
                        <form id="chatForm" class="mt-2" autocomplete="off">
                            <div class="input-container input-group mb-3">
                                <label for="user-input"></label><input id="user-input" class="form-control" type="text" placeholder="Talk to your consultant ..."/>
                                <div class="input-group-append">
                                    <button id="submit-btn" class="btn btn-primary">Say</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="{% static 'js/chatbot.js' %}"></script>
        {% csrf_token %}
        <script>
            var chatterbotUrl = '{% url "chatterbot" %}';
            var csrftoken = Cookies.get('csrftoken');
        </script>
    </body>
</html>
