:root {
    --color-red: #fd461a;
    --color-red-filter: #ff2b00;
    --color-pink: #fdeaf0;
    --color-pink-light: rgba(253, 234, 240, 0.4);
    --color-grey: #efefef;
    --color-link-hover: #e62d00;
}

@font-face {
    font-family: 'Akkurat Bold';
    src: local('Akkurat Bold'), url('../fonts/akkurat-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akkurat Regular';
    src: local('Akkurat Regular'), url('../fonts/akkurat-regular.ttf') format('truetype');
}

html, body {
    background-color: var(--color-pink);
    font-family: 'Akkurat Regular', sans-serif;
    color: var(--color-red);
}

a {
    color: var(--color-red);
}

a:hover {
    color: var(--color-link-hover);
}

#isabot {
    margin-top: 11rem;
}

#testimonials, #stats, #projects, #about {
    margin-top: 15rem;
}

#about {
    margin-bottom: 20rem;
}

#main h1, h2, .numbers {
    font-family: 'Akkurat Bold', sans-serif;
}

#main h1 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

#main h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.isa-main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-container {
    padding: 3rem;
}

.btn-primary, .btn-primary:visited, .btn-primary:active {
    border-radius: 0.5rem;
    background-color: var(--color-red);
    background-image: linear-gradient(180deg, var(--color-red), #e63f17);
    color: var(--color-pink);
    border-color: #f44319;
    font-family: 'Akkurat Bold', sans-serif;
}

.btn-outline-primary {
    border-radius: 0.5rem;
    background-color: #fef6f9;
    border-color: var(--color-red);
    color: var(--color-red);
    font-family: 'Akkurat Bold', sans-serif;
    outline: 0 !important;
}

.btn-primary:hover {
    background-image: linear-gradient(180deg, var(--color-link-hover), #e63f17);
    background-color: var(--color-link-hover);
    color: #fef6f9;
    border-color: var(--color-link-hover);
    outline: 0 !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-pink);
}

.btn:focus, .btn.focus, .btn:visited, .btn.visited, .btn:active, .btn.active, .btn-primary:focus, input {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--color-red);
}

#session-btn {
    top: 2rem;
    right: 2rem;
    position: fixed;
    z-index: 999;
}

/* video modal */

#isa-video-fixed {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
}

.video-fixed {
    width: 14.125rem;
    height: 8rem;
    background-color: black;
}

.card-fixed {
    display: none;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

video {
    height: 22.5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.modal {
    display: inline;
    top: 8rem;
    width: 100%;
}

#isa-video .modal-dialog {
    width: 642px;
    max-width: none;
    border-radius: 0.5rem;
}

#isa-video .modal-content {
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#isa-video .modal-header, .card-header {
    background-color: var(--color-grey);
    background-image: linear-gradient(180deg, var(--color-grey), #e6e4e4);
    padding: 0.3rem 0.6rem;
    justify-content: normal;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-header {
    padding: 0.02rem 0.4rem;
    border-bottom: none;
}

#isa-video .modal-body, .card-body {
    padding: 0;
    overflow: hidden;
}

.dot {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    display: inline-block;
}

.dot-fixed {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: #ff5d5b;
    margin-right: 0.4rem;
    border: 1px solid #d42d2b;
}

#red-dot-fixed {
    margin-right: 0.1rem;
}

#red-dot-fixed:hover {
    background-color: #d42d2b;
    cursor: pointer;
}

#red-dot-chat, #yellow-dot-chat {
    margin-right: 0.35rem;
}

.yellow {
    background-color: #ffbc4d;
    margin-right: 0.4rem;
    border: 1px solid #ea9405;
}

#yellow-dot:hover {
    background-color: #ea9405;
    cursor: pointer;
}

#yellow-dot-fixed {
    margin-right: 0.1rem;
}

.green {
    background-color: #06d860;
    border: 1px solid #04ab4c;
}

#green-dot-fixed:hover {
    background-color: #04ab4c;
    cursor: pointer;
}

.hide-video {
    display: none;
}

.show-video {
    display: inline;
}

/* main */

.main {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.sub-heading {
    font-size: 140%;
}

/* testimonials */

.testimonial-card .card-body {
    padding-top: 1rem;
}

.testimonial-card .people-names {
    font-family: 'Akkurat Bold', sans-serif;
}

.testimonial-card {
    border: 0;
    background-color: transparent;
    padding: 1.5rem;
}

.testimonial-img, .project-img {
    background-color: transparent;
    border: none;
}

/* stats */

.stats .card-title {
    font-family: 'Akkurat Bold', sans-serif;
}

.stats {
    background-color: var(--color-red);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.stats-card {
    background-color: transparent;
    color: var(--color-pink);
    border: none;
}

.numbers {
    font-size: larger;
}

/* project */

.project-img {
    padding: 0;
    border-radius: 0;
}

/* Chat window */
.isabot {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding:0;
}

.chat-card {
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-card-header {
    background-image: linear-gradient(180deg, #e6e4e4, var(--color-grey));
    background-color: #e6e4e4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 1.5rem;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c5c5c5;
    font-size: 1rem;
    font-weight: 100;
    opacity: 1; /* Firefox */
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.4);
}

.chat {
    background-color: var(--color-pink);
    padding: 1rem 1rem 1rem 2rem;
    height: 600px;
    overflow: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input, .form-control {
    border: none;
}

#chat-form {
    margin: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.input-group>.input-group-append>.btn {
    background-color: #fafafa;
    border-radius: 0.5rem;
}

.input-group>.input-group-append>.btn:hover {
    background-color: var(--color-red);
    /*gradient adden*/
}

.input-group {
    padding: 1rem;
    background-color: #fafafa;
    border-right: solid 1px #e8e8e8;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#user-input {
    background-color: #fafafa;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.bubble-right {
    position: relative;
    float: right;
    color: var(--color-pink);
    width: fit-content;
    padding: 1rem;
    background: #cccbcb;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 15px;
}

.bubble-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 27px;
    border-color: transparent #cccbcb;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    bottom: 2px;
}

.bubble-left {
    position: relative;
    width: fit-content;
    padding: 1rem;
    background: var(--color-red);
    color: var(--color-pink);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.bubble-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 27px 11px 0;
    border-color: transparent  var(--color-red);
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    bottom: 2px;
}

@media (max-width: 768px) {
    #testimonials, #stats, #projects, #about {
        margin-top: 7rem;
    }
    #about {
        margin-bottom: 7rem;
    }
}

@media (min-width: 768px) {
    .isa-main-container {
        padding:0;
    }
}
